[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    venv,
    env,
    build,
    dist,
    .eggs,
    *.egg-info
ignore = 
    E203,
    W503,
    E501
per-file-ignores =
    __init__.py:F401
